@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Verdana;
}
.wrapper{
    width: 100%;
    margin: auto;
    height: 80px;
    z-index: 10;
    position: fixed;
    background-color: #0A192F;
    border: aquamarine;
}
header{
    background: #0A192F;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#headerabout {
    animation: transitionIn 1s;
}

#headerexperience {
    animation: transitionIn 2s;
}

#headerprojects {
    animation: transitionIn 3s;
}

#headercontact {
    animation: transitionIn 4s;
    margin-right: 50px;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
    font-family: Verdana;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
    color: aquamarine;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}

.nav-area li a:hover{
    background: aquamarine;
    color: #333;
}
.logo{
    float: left;
    animation: transitionIn 1s;
}
.logo img{
    width: 10%;
    padding: 15px 0;
    margin-left: 50px;
}
.welcome-text{
    position: absolute;
    font-family: Verdana;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
}
.welcome-text h1{
    text-align: left;
    color: #CCD6F6;
    font-size: 60px;
    margin-top: 1%;
    animation: transitionIn 5s;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: aquamarine;
    border-color: aquamarine;
    margin-top: 5%;
    animation: transitionIn 8s;
}
.welcome-text a:hover{
    background: aquamarine;
    color: #333;
}

#introname {
    color: aquamarine;
    font-family: "Roboto Light";
    animation: transitionIn 4s;
}

#introdescription {
    color: #8892B0;
    margin-top: 5%;
    width: 600px;
    animation: transitionIn 7s;
}

#studentappdeveloper {
    color: #8892B0;
    animation: transitionIn 6s;
}

.content {
    width: 100%;
    position: relative;
    height: auto;
}

#aboutme {
    height: 850px;
    background-color: #0A192F;
    padding-bottom: 100px;
}

#abouthr{
    color: #CCD6F6;
    animation: transitionIn 5s;
}
#whoami{
    color: aquamarine;
    margin-bottom: 50px;
    animation: transitionIn 5s;
}

#abouttabletitle{
    width: 20%;
    animation: transitionIn 5s;
}
.abouttable {
    margin-left: 20%;
    animation: transitionIn 5s;
    margin-top: 4%;
}
#abouttableinfo{
    width: 40%;
    color: #8892B0;
    animation: transitionIn 5s;
}

.pfp{
    margin-left: 20%;
    animation: transitionIn 5s;
}
hr {
    border-top: 1px solid #303C55;
    width: 400px;
    margin-left: 20px;
    padding-bottom: 50px;
    animation: transitionIn 5s;
}
.gturl {
    color: aquamarine;
}

a:hover {
    color: aquamarine;
}

ul {
     list-style: none; /* Remove default bullets */
 }
ul li{
    font-size: 16px;
    font-family: "Roboto Thin", serif;
}
ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: aquamarine; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    font-weight: bold; /* If you want it to be bold */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 8px;
}

.skillslist{
    color: #8892B0;
    width: 180px;
    padding-right: 20px;
    font-size: 15px;
    animation: transitionIn 5s;
}
.aboutlist{
    margin-left: 21%;
    animation: transitionIn 5s;
}

ol {
    list-style: none; /* Remove default bullets */
}
ol li{
    font-size: 16px;
    font-family: "Roboto Thin", serif;
}
ol li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: aquamarine; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    font-weight: bold; /* If you want it to be bold */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    font-size: 8px;
}

#experience {
    height: 600px;
    background-color: #0A192F;
}

.experiencetitletable {
    margin-left: 30%;
    animation: transitionIn 6s;
    margin-top: 4%;
}

#whereiwork{
    color: aquamarine;
    margin-bottom: 50px;
    animation: transitionIn 5s;
}

.experienceinfotable{
    margin-left: 30%;
    animation: transitionIn 6s;
}

.experiencetitleinfo {
    color: #CCD6F6;
    animation: transitionIn 6s;
}

.experiencebodyinfo{
    color: #8892B0;
    animation: transitionIn 6s;
}

#stremlogo{
    padding-right: 30px;
    animation: transitionIn 6s;
}

.stremcolor{
    color: aquamarine;
}
.listspace{
    padding-left: 10px;
    width: 60%;
}

#projects {
    height: 1200px;
    background-color: #0A192F;
    padding-bottom: 100px;
}

.projectstable {
    margin-left: 20%;
    animation: transitionIn 7s;
    margin-top: 4%;
}

#projectstabletitle{
    width: 40%;
    animation: transitionIn 7s;
}

#projectstitle{
    color: aquamarine;
    margin-bottom: 50px;
    animation: transitionIn 7s;
}
#shushimage{
    margin-left: 20%;
    margin-right: 20%;
    width: 50%;
    height: 50%;
    animation: transitionIn 7s;

}

.hover figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}

.image-container figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.image-container figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.companylogo figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.companylogo figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.softwareused{
    color: #8892B0;
    margin-left: 20%;
    animation: transitionIn 7s;
    font-size: 14px;
}

#disasterimage{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width: 50%;
    height: 50%;
    animation: transitionIn 7s;

}

#contact {
    height: 700px;
    background-color: #0A192F;
}

.contacttitletable {
    margin-left: 30%;
    animation: transitionIn 8s;
    margin-top: 4%;
}

#recruitme {
    color: aquamarine;
    margin-bottom: 50px;
    animation: transitionIn 8s;
}

.outroinfo{
    margin-left: 30%;
    margin-right: 30%;
    color: #8892B0;
    animation: transitionIn 8s;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    animation: transitionIn 9s;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #933A96;
    color: white;
    margin-right: 5%;
}

#credits{
    color: #8892B0;
    font-size: 8px;
}

.email{
    color: aquamarine;
    animation: transitionIn 9s;
}

#footertr{
    margin-top: 15%;
    margin-left: 10%;
    width: 90%;
    animation: transitionIn 9s;
}

#trbottom{
    width: 100%;
    animation: transitionIn 9s;
}
.bottomelement{
    width: 33%;
    animation: transitionIn 9s;
}
/*resposive*/

@media (max-width:600px){
    .wrapper {
        width: 100%;
        height: 100px;
        z-index: 10;
        position: fixed;
    }
    .logo {
        float: none;
        width: 50%;
        text-align: center;
        margin: auto;
    }
    img {
        width: 50%;
    }
    .nav-area {
        float: none;
        margin-top: 0;
    }
    .nav-area li a {
        padding: 5px;
        font-size: 11px;
    }
    .nav-area {
        text-align: center;
    }
    .welcome-text {
        width: 100%;
        height: auto;
        margin: 30% 0;
        top: 100px;
        position: fixed;
    }
    .welcome-text h1 {
        font-size: 30px;
    }
    .content {
        width: 100%;
        position: relative;
        top: 400px;
        height: 1500px;
    }
}
