@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Verdana;
}
.wrapper{
    width: 100%;
    margin: auto;
    height: 80px;
    z-index: 10;
    position: fixed;
    background-color: #0A192F;
}
header{
    background: #0A192F;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
#headerabout {
    animation: transitionIn 1s;
}

#headerexperience {
    animation: transitionIn 2s;
}

#headerprojects {
    animation: transitionIn 3s;
}

#headercontact {
    animation: transitionIn 4s;
    margin-right: 50px;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
    font-family: Verdana;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a {
    color: aquamarine;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}

.nav-area li a:hover{
    background: aquamarine;
    color: #333;
}
.logo{
    float: left;
    animation: transitionIn 1s;
}
.logo img{
    width: 10%;
    padding: 15px 0;
    margin-left: 50px;
}
.welcome-text{
    position: absolute;
    font-family: Verdana;
    width: 800px;
    height: 300px;
    margin: 10% 20%;
    text-align: left;
}
.welcome-text h1{
    text-align: left;
    color: #CCD6F6;
    font-size: 60px;
    margin-top: 1%;
    animation: transitionIn 5s;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: aquamarine;
    border-color: aquamarine;
    margin-top: 5%;
    animation: transitionIn 8s;
}
.welcome-text a:hover{
    background: aquamarine;
    color: #333;
}

#introname {
    color: aquamarine;
    font-family: "Roboto Light";
    animation: transitionIn 4s;
}

#introdescription {
    color: #8892B0;
    margin-top: 5%;
    width: 600px;
    animation: transitionIn 7s;
}

#studentappdeveloper {
    color: #8892B0;
    animation: transitionIn 6s;
}

.content {
    width: 100%;
    position: relative;
    height: auto;
}

.aboutme {
    height: 500px;
    background-color: #0A192F;
}

/*resposive*/

@media (max-width:600px){
    .wrapper {
        width: 100%;
        height: 100px;
        z-index: 10;
        position: fixed;
    }
    .logo {
        float: none;
        width: 50%;
        text-align: center;
        margin: auto;
    }
    img {
        width: 50%;
    }
    .nav-area {
        float: none;
        margin-top: 0;
    }
    .nav-area li a {
        padding: 5px;
        font-size: 11px;
    }
    .nav-area {
        text-align: center;
    }
    .welcome-text {
        width: 100%;
        height: auto;
        margin: 30% 0;
        top: 100px;
        position: fixed;
    }
    .welcome-text h1 {
        font-size: 30px;
    }
    .content {
        width: 100%;
        position: relative;
        top: 400px;
        height: 1500px;
    }
}
